* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header styling starts here*/

header {
    padding: 20px 35px;
    background-color: rgb(119, 119, 190);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color:rgb(218, 218, 233);
    margin: 0;
    display: inline;
}
header a {
    text-decoration: none;
    color:rgb(218, 218, 233);
}
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
header nav ul li a:hover {
    background:rgb(218, 218, 233);
    font-weight: lighter;
    color: rgb(119, 119, 190);
    padding: 10px 15px;
}

/*end header styling*/

/*footer styling starts here*/

footer {
    background:rgb(119, 119, 190);
    width: 100%;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h3 {
    display: inline;
    color:rgb(218, 218, 233);
    font-size: 20px;
    margin: 0;
    padding: 30px;
}

/*end footer styling*/

/*section styling starts here*/

section {
    padding: 60px;
    overflow: auto;
}
section h2 {
    font-size: 35px;
    color:rgb(119, 119, 190);
    margin-bottom: 15px;
}

/*section styling end/

/*hero style starts here*/

.hero {
    background-image: url("../images/hero-img.jpeg");
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero h2 {
    color:rgb(218, 218, 233);
    background-color:rgb(119, 119, 190);
    position: absolute;
    font-size: 30px;
    bottom: 50px;
    right: 130px;
    padding: 15px;
    border: solid 3px rgb(119, 119, 190);
}

/*end hero styling*/

/*about me section styling start*/

.intro img {
    width: 15%;
    float: left;
    padding: 20px;
}
.intro p {
    margin: 0, auto;
    padding: 20px 0 50px 75px;
    width: 100%;
    font-size: 20px;
    color:rgb(119, 119, 190);
    line-height: 1.5;
}

/*end about me styling*/

/*my work styling starts here*/

.run-buddy {
    background-image: url(../images/run-buddy.jpeg);
}
.horiseon-challenge {
    background-image: url(../images/challenge-one.png);
}
.fake-challenge {
    background-image: url(../images/fake-challenge.jpg);
}

/*contact info styling*/

.contact-info {
    font-size: 20px;
    color:rgb(119, 119, 190);
    display: inline; 
}
.contact ul li {
    text-decoration: none;
    display: inline;
    font-size: 20px;
    float: right;
    padding: 20px;
    justify-content: space-around;
}