:root {
    --primary-color: #0f2026;
    --secondary-color: #a68077;
    --tertiary-color: #394d59;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Optima, sans-serif;
}

/*header styling starts here*/

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color:var(--secondary-color);
    margin: 0;
    display: inline;
}
header a {
    text-decoration: none;
    color:var(--secondary-color);
}
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
header nav ul li a:hover {
    background:var(--tertiary-color);
    font-weight: lighter;
    color: var(--secondary-color);
    padding: 10px 15px;
    border-radius: 10px;
}

/*end header styling*/

/*footer styling starts here*/

footer {
    background:var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h3 {
    display: inline;
    color:var(--secondary-color);
    font-size: 20px;
    margin: 0;
    padding: 20px;
}

/*end footer styling*/

/*section styling starts here*/

section {
    padding: 60px;
    overflow: auto;
}
section h2 {
    font-size: 35px;
    color:var(--primary-color);
    margin-bottom: 15px;
}

/*section styling end/

/*hero style starts here*/

.hero {
    background-image: url("../images/hero-img.jpeg");
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.hero h2 {
    color:var(--secondary-color);
    background-color:var(--primary-color);
    position: absolute;
    font-size: 30px;
    bottom: 50px;
    right: 130px;
    padding: 15px;
    border: solid 3px var(--tertiary-color);
    border-radius: 10px;
}

/*end hero styling*/

/*about me section styling start*/

.about-me {
    width:80%;
    display:flex;
    flex-wrap: wrap;
}
.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.about-box1 {
    width: 20%;
    border-right: 5px solid var(--primary-color);
}
.about-box2 img {
    flex: 1;
    height: 419px;
    width: 300px;
    padding: 20px;
}
.about-box3 {
    flex: 2;
    justify-content: flex-end;
    padding: 20px 0 0 0;
}

/*end about me styling*/

/*my work styling starts here*/

.work-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 80%;
}
.work-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 5;
}
.work-box1 {
    width: 20%;
    border-right: 5px solid var(--primary-color);
}
.work-container img {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-around;
    filter: grayscale(100%);
    border: solid 5px var(--tertiary-color);
    border-radius: 5px;
    margin: 20px;
}
.work-boxes:first-child img {
    max-width:100%;
    width: 750px;
    height: 315px;
}
.work-container img:hover{
    filter: grayscale(15%);
}
.subtitle {
    position: absolute !important;
    font-size: 25px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 5px;
    border-radius: 5px;
    z-index: 999;
}
.relative {
    position: relative !important;
}

/*contact info styling*/

.contact-container {
    display: flex;
    flex-wrap: wrap;
}
.contact-box2 {
    width: 80%;
    margin: 7px 0;
}
.contact-container nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}
.contact-container nav ul li a {
    margin: 0 10px;
    font-weight: lighter;
    font-size: 22px;
    text-decoration: none;
    color:var(--secondary-color);
}
.contact-container nav ul li a:hover {
    background:var(--tertiary-color);
    font-weight: lighter;
    color: var(--secondary-color);
    padding: 10px 15px;
    border-radius: 10px;
}
.contact-box1 {
    width: 20%;
    border-right: 5px solid var(--primary-color);
}
