:root {
    --primary-color: (119, 119, 190);
    --secondary-color: (218, 218, 233);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header styling starts here*/

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color:var(--secondary-color);
    margin: 0;
    display: inline;
}
header a {
    text-decoration: none;
    color:var(--secondary-color);
}
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
header nav ul li a:hover {
    background:var(--secondary-color);
    font-weight: lighter;
    color: var(--secondary-color);
    padding: 10px 15px;
}

/*end header styling*/

/*footer styling starts here*/

footer {
    background:rgb(119, 119, 190);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h3 {
    display: inline;
    color:var(--primary-color);
    font-size: 20px;
    margin: 0;
    padding: 20px;
}

/*end footer styling*/

/*section styling starts here*/

section {
    padding: 60px;
    overflow: auto;
}
section h2 {
    font-size: 35px;
    color:var(--primary-color);
    margin-bottom: 15px;
}

/*section styling end/

/*hero style starts here*/

.hero {
    background-image: url("../images/hero-img.jpeg");
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.hero h2 {
    color:var(--secondary-color);
    background-color:var(--primary-color);
    position: absolute;
    font-size: 30px;
    bottom: 50px;
    right: 130px;
    padding: 15px;
    border: solid 3px var(--primary-color);
}

/*end hero styling*/